{% extends 'base.html' %}
{% load static %}
{% block title %}
  Logistics | Index
{% endblock title %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Trusted Delivery Services to Deliver Your Packages with Care and Precision.</h2>
          <p data-aos="fade-up" data-aos-delay="100" class='text-justify'>Our delivery services offer fast, reliable, and efficient shipping solutions to simplify your life. We provide personalized services to meet your unique needs, ensuring your packages arrive on time and in perfect condition. Choose us for affordable and secure shipping options that prioritize your packages and deliver peace of mind.</p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Track Shipment</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                <p>Support</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Workers</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">Pickup</h4>
              <p class="description">Our Pickup service makes shipping easier by allowing you to schedule a convenient time and location for us to pick up your packages.</p>
              
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">Transport</h4>
              <p class="description">We provide efficient and reliable transportation solutions for individuals and businesses, with a focus on safety, affordability, and on-time delivery.</p>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">Drop</h4>
              <p class="description">Drop is a convenient and efficient way to quickly and easily send or receive packages, without the hassle of traditional shipping methods.</p>
              
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="{% static 'assets/img/transport.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=2JcHMhtH6_s" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p class='text-justify'>
              At Logistics, we are passionate about delivering convenience and peace of mind to our customers. We understand the importance of timely and secure shipping, which is why we offer fast, reliable, and efficient delivery services that prioritize your packages.
            </p>
            <ul class='text-justify'>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Fast and efficient delivery options for your convenience</h5>
                  <p>With streamlined processes and state-of-the-art technology, we make sure your shipments are delivered as quickly as possible.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Affordable shipping options that fit your budget</h5>
                  <p>We offer affordable shipping options that fit your budget, without compromising on the quality of service.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/storage-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'service-detail' %}" class="stretched-link">Storage</a></h3>
              <p style='text-align:justify'>We offer secure and affordable storage solutions to keep your belongings safe and organized, with flexible options to fit your needs.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/logistics-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'logistics' %}" class="stretched-link">Logistics</a></h3>
              <p style='text-align:justify'>Our logistics services provide end-to-end supply chain solutions, optimizing your operations and enhancing your business performance.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/cargo-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'cargo' %}" class="stretched-link">Cargo</a></h3>
              <p style='text-align:justify'>Our cargo services provide efficient and reliable transportation solutions for your shipments, with personalized options to fit your needs.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/trucking-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'trucking' %}" class="stretched-link">Trucking</a></h3>
              <p style='text-align:justify'>Our reliable trucking services provide efficient and cost-effective transportation solutions for your business needs, with a focus on timely and safe delivery.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/packaging-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'packaging' %}" class="stretched-link">Packaging</a></h3>
              <p style='text-align:justify'>Our packaging solutions provide reliable and cost-effective options to protect your products during transit, with custom designs available to meet your branding needs.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/warehousing-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="{% url 'warehousing' %}" class="stretched-link">Warehousing</a></h3>
              <p style='text-align:justify'>Our warehousing services provide efficient storage solutions for businesses, with flexible options and state-of-the-art technology to ensure the safety of your products.</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Call To Action</h3>
            <p> Ready to simplify your shipping needs? Contact us today to learn more about our fast, reliable, and affordable delivery services. Our team is here to help you streamline your shipping process and get your packages where they need to go. Don't wait, get in touch with us now to get started!</p>
            <a class="cta-btn" href="{% url 'contact' %}">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="{% static 'assets/img/features-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Enterprise Logistics Services</h3>
            <p class="fst-italic">
              Find out how Logistics Supply Chain can revolutionize your business as a 3PL provider.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Warehousing</li>
              <li><i class="bi bi-check"></i> Packaging</li>
              <li><i class="bi bi-check"></i> Real Estate</li>
              <li><i class="bi bi-check"></i> Transport</li>
              <li><i class="bi bi-check"></i> Service Logistics</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Document and Parcel Shipping</h3>
            <p class="fst-italic">
              Learn about Logistics – the undisputed global leader in international express shipping.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Next Possible Business</li>
              <li><i class="bi bi-check"></i> Next Possible Business</li>
              <li><i class="bi bi-check"></i> Next Possible Business</li>
              <li><i class="bi bi-check"></i> Wide Variety of Optional Services</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-4.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Cargo Shipping</h3>
            <p>Discover shipping and logistics service options from DHL Global Forwarding.</p>
            <ul>
              <li><i class="bi bi-check"></i> Air Freight</li>
              <li><i class="bi bi-check"></i> Ocean Freight</li>
              <li><i class="bi bi-check"></i> Road Freight</li>
              <li><i class="bi bi-check"></i> Rail Freight</li>
            </ul>
          </div>
        </div><!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    What are your delivery options?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We offer a range of delivery options, including overnight and same-day delivery, as well as standard and economy shipping. Our team works with you to find the best option that fits your timeline and budget.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    How do I track my shipment?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We provide real-time tracking and monitoring of your shipments through our state-of-the-art technology. You can access tracking information online or through our mobile app
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Do you provide international shipping?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, we offer international shipping to over 200 countries worldwide. Our team can help you navigate the complex process of international shipping, including customs clearance and documentation.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    What is your pricing structure?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Our pricing structure is based on a variety of factors, including the size and weight of your package, the shipping distance, and the level of service you require. We offer competitive pricing and customized solutions to fit your budget.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    How do I schedule a shipment?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    You can schedule a shipment online or by contacting our customer service team. We will work with you to arrange for pickup and delivery of your packages at a time that is convenient for you.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                    <i class="bi bi-question-circle question-icon"></i>
                    What happens if my package is lost or damaged?
                  </button>
                </h3>
                <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We take the safety and security of your packages seriously. In the unlikely event that your package is lost or damaged, we have insurance options available to protect your shipment.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

{% endblock  %}